.graph {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}

.graphItem {
  border-radius: 0.2rem;
  display: grid;
  align-items: center;
  padding: 1rem;
  border: 1px solid #eee;
}

.graphItem:nth-child(2) {
  grid-row: span 2;
  grid-column: 2 / 4;
}

.graphItem span {
  font-size: 1.25rem;
}

.graphItem:hover {
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  gap: 1rem;
}

.total p {
  color: #5c5c5c;
}

.total span {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 40rem) {
  .graph {
    grid-template-columns: 1fr;
  }
  .total,
  .total:hover {
    grid-column: 1;
    color: #333;
    border: none;
    box-shadow: none;
    padding: 1rem;
  }
  .graphItem:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
}

.nostats {
  grid-template-columns: 1fr;
}
