.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.single.form {
  margin: 1rem 0;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: #eee;
  transition: 0.2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.enviar {
  border: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.enviar:focus,
.enviar:hover {
  outline: none;
}

.enviar:focus svg path,
.enviar:hover svg path {
  fill: #fb1;
  stroke: #fb1;
}

.enviar:focus svg g,
.enviar:hover svg g {
  animation: latir 0.6s infinite;
}

.enviando {
  cursor: wait;
}

.enviando:focus svg path,
.enviando:hover svg path,
.enviando svg path {
  fill: #ccc;
  stroke: #ccc;
}

.enviando:focus svg g,
.enviando:hover svg g,
.enviando svg g {
  animation: latir 0.3s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
